@font-face {
  font-family: "PerfectDOS";
  src: url("./Assets/fonts/Perfect\ DOS\ VGA\ 437.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "PerfectDOS", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  background-color: rgb(4, 65, 231);
  color: aqua;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;  
}

.aside {
  width: 40%;
  height: 100%;
  border: double 4px aqua;
  position: relative;
  padding-left: 5px;
}

.heading2 {
  display: inline-block;
  padding: 0 5px;
  position: relative;
  top: -10px;
  left: 40%;
  background-color: rgb(4, 65, 231);
}

.label {
  color: yellow;
  font-weight: bold;
}

.input {
  font-family: "PerfectDOS";
  margin: 5px 0 10px 0;
  height: 25px;
  background-color:rgb(4, 65, 231);
  color: aqua;
  border: none;
  width: 100%;
}

.input::placeholder {
  color: aqua;
  font-size: 17px;
}

.input:focus,
.input:focus::placeholder {
  outline: none;
  background-color: rgb(147, 172, 197);
  color: black;
}

.btnContainer {
  display: flex;
  gap: 25px;
}

.btn {
  font-family: "PerfectDOS";
  height: 25px;
  width: 85px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 17px;
  color:rgb(190, 187, 187);
  box-shadow: 10px 10px 0 black;
  transition: all 1 ease;
}

.btn:hover {
  background-color: yellow;
  color: red;
}

.btn::first-letter,
.btn:hover::first-letter {
  color: black;
}

.btn:active {
  transform: translate(10px, 10px);
  box-shadow: 0 0 0 black;
}

.displayNums {
  width: 59%;
  height: 100%;
  border: double 4px aqua;
  position: relative;
}

.numUl {  
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  overflow-y:scroll;
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: black;
  color: lightslategray;
}