* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  background-color: rgb(4, 65, 231);
  color: aqua;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 40%;
  height: 100%;
  border: double 4px aqua;
  position: relative;
}

.heading2 {
  display: inline-block;
  padding: 0 5px;
  position: relative;
  top: -10px;
  left: 40%;
  background-color: rgb(4, 65, 231);
}

.displayNums {
  width: 59%;
  height: 100%;
  border: double 4px aqua;
  position: relative;
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: black;
  color: lightslategray;
}